@import "tailwindcss";
@import "tw-animate-css";
@source "../node_modules/streamdown/dist/index.js";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.4368 0.1407 266.6336);
  --card: oklch(0.9791 0 0);
  --card-foreground: oklch(0.4368 0.1407 266.6336);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4368 0.1407 266.6336);
  --primary: oklch(0.4368 0.1407 266.6336);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9558 0.0209 271.195);
  --secondary-foreground: oklch(0.4368 0.1407 266.6336);
  --muted: oklch(0.9639 0.0099 267.3588);
  --muted-foreground: oklch(0.607 0.1024 266.5561);
  --accent: oklch(0.9193 0.0269 269.6611);
  --accent-foreground: oklch(0.4368 0.1407 266.6336);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9639 0.0099 267.3588);
  --ring: oklch(0.8168 0.0647 269.2996);
  --chart-1: oklch(0.4368 0.1407 266.6336);
  --chart-2: oklch(0.672 0.1727 268.6094);
  --chart-3: oklch(0.7939 0.1037 271.7856);
  --chart-4: oklch(0.8953 0.0507 273.0952);
  --chart-5: oklch(0.9639 0.0099 267.3588);
  --sidebar: oklch(0.9639 0.0099 267.3588);
  --sidebar-foreground: oklch(0.4368 0.1407 266.6336);
  --sidebar-primary: oklch(0.4368 0.1407 266.6336);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9193 0.0269 269.6611);
  --sidebar-accent-foreground: oklch(0.4368 0.1407 266.6336);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.8168 0.0647 269.2996);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #2e4a9e;
  --shadow-2xs: 0px 4px 8px 0px hsl(225 54.902% 40% / 0.03);
  --shadow-xs: 0px 4px 8px 0px hsl(225 54.902% 40% / 0.03);
  --shadow-sm:
    0px 4px 8px 0px hsl(225 54.902% 40% / 0.05),
    0px 1px 2px -1px hsl(225 54.902% 40% / 0.05);
  --shadow:
    0px 4px 8px 0px hsl(225 54.902% 40% / 0.05),
    0px 1px 2px -1px hsl(225 54.902% 40% / 0.05);
  --shadow-md:
    0px 4px 8px 0px hsl(225 54.902% 40% / 0.05),
    0px 2px 4px -1px hsl(225 54.902% 40% / 0.05);
  --shadow-lg:
    0px 4px 8px 0px hsl(225 54.902% 40% / 0.05),
    0px 4px 6px -1px hsl(225 54.902% 40% / 0.05);
  --shadow-xl:
    0px 4px 8px 0px hsl(225 54.902% 40% / 0.05),
    0px 8px 10px -1px hsl(225 54.902% 40% / 0.05);
  --shadow-2xl: 0px 4px 8px 0px hsl(225 54.902% 40% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2284 0.0384 282.9324);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2863 0.0364 283.8626);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2284 0.0384 282.9324);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.672 0.1727 268.6094);
  --primary-foreground: oklch(0.2284 0.0384 282.9324);
  --secondary: oklch(0.431 0.076 267.9621);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.3569 0.0602 266.9919);
  --muted-foreground: oklch(0.7457 0.0304 254.7208);
  --accent: oklch(0.4804 0.0852 269.0447);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --destructive-foreground: oklch(0.2284 0.0384 282.9324);
  --border: oklch(0.4055 0.0696 269.4434);
  --input: oklch(0.3569 0.0602 266.9919);
  --ring: oklch(0.7194 0.119 272.4171);
  --chart-1: oklch(0.672 0.1727 268.6094);
  --chart-2: oklch(0.7939 0.1037 271.7856);
  --chart-3: oklch(0.8953 0.0507 273.0952);
  --chart-4: oklch(0.9067 0 0);
  --chart-5: oklch(0.3569 0.0602 266.9919);
  --sidebar: oklch(0.3569 0.0602 266.9919);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.672 0.1727 268.6094);
  --sidebar-primary-foreground: oklch(0.2284 0.0384 282.9324);
  --sidebar-accent: oklch(0.4804 0.0852 269.0447);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.4055 0.0696 269.4434);
  --sidebar-ring: oklch(0.7194 0.119 272.4171);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 4px 8px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 4px 8px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 4px 8px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 4px 8px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 4px 8px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
